{% extends "base.html" %}

{% block title %}
bloglist
{% endblock %}

{% block content %}

<table border="1">
  <thead>
    <tr>
      <th>author</th>
      <th>title</th>
      <th>tag</th>
      <th>text</th>
      <th>created</th>
      <th>updated</th>
    </tr>
  </thead>
  {% for title in object_list %}
  <tbody>
    <tr>
      <td>{{ title.author }}</td>
      <td><a href="{% url 'contents:blogdetail' title.pk %}">{{ title.title }}</a></td>
      <td>{{ title.tag }}</td>
      <td>{{ title.text }}</td>
      <td>{{ title.created_at }}</td>
      <td>{{ title.updated_at }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
<a href="{% url 'contents:blogcreate' %}">追加</a>

{% endblock %}
