<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- ファイルをあつかうので、enctype="multipart/form-data" が必要 -->
    <form class="" action="" method="post" enctype="multipart/form-data">
      {{ form.as_p }}
      <br>
      {{ formset.management_form }}
      {% for file_form in formset %}
        {{ file_form.as_p }}
        <hr>
      {% endfor %}
      {% csrf_token %}
      <button type="submit" name="">Sign Up</button>
    </form>
  </body>
</html>
